@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  font-family: "Noto Sans JP", serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: start;
}
.header .header-wrap {
  width: 100%;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-wrap h1 {
  width: 216px;
}
.header .header-wrap h1 a {
  width: 100%;
}
.header .header-wrap h1 a img {
  display: block;
  width: 100%;
}
.header .header-wrap nav {
  color: #333;
  text-align: center;
}
.header .header-wrap nav .nav {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.header .header-wrap nav .nav .main-nav {
  font-size: 1.4rem;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  color: #333;
}
.header .header-wrap nav .nav .main-nav .sub-nav-list {
  position: absolute;
  top: 80px;
  list-style-type: none;
  text-align: left;
  background-color: #3f508e;
  display: none;
  z-index: 100;
}
.header .header-wrap nav .nav .main-nav .sub-nav-list .sub-nav {
  line-height: 2;
  font-size: 1.6rem;
}
.header .header-wrap nav .nav .main-nav .sub-nav-list .sub-nav a {
  text-decoration: none;
  color: #fff;
}
.header .header-wrap nav .nav .main-nav:first-child {
  margin-left: 0px;
}
.header .header-wrap nav .nav .main-nav:hover {
  color: #9598c2;
}

.fv {
  width: 100%;
  display: flex;
  justify-content: start;
}
.fv .mainvisual {
  border-radius: 0px 40px 40px 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 720px;
}
.fv .mainvisual .logo-mobile {
  display: none;
}
.fv .mainvisual .fv-h2-wrap {
  display: block;
  height: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  margin: auto;
}
.fv .mainvisual .fv-h2-wrap .fv-h2 {
  font-size: clamp(1.4rem, 1.111rem + 3.85vw, 4rem);
  letter-spacing: 1.04rem;
  color: white;
  font-weight: 400;
}
.fv .mainvisual .fv-h2-wrap .fv-h2 .fv-h2-text {
  animation-name: fv-text;
  animation-duration: 1.8s;
}
.fv .mainvisual .fv-h2-wrap .fv-h2:nth-child(2) {
  margin-top: 8px;
  transform: translateX(32px);
}
.fv .mainvisual .fv-h2-wrap .line-position {
  position: relative;
}
.fv .mainvisual .fv-h2-wrap .line-position .line {
  position: absolute;
  width: 100%;
  animation-name: line;
  animation-fill-mode: forwards;
  animation-duration: 1.8s;
  animation-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2AA4DB;
  transform: scaleX(0);
}

@keyframes line {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    opacity: 1;
    transform: scaleX(100%);
    transform-origin: left;
  }
  51% {
    opacity: 1;
    transform: scaleX(100%);
    transform-origin: right;
  }
  100% {
    opacity: 1;
    transform: scaleX(0%);
    transform-origin: right;
  }
}
@keyframes fv-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.link-list {
  position: fixed;
  top: 168px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.link-list .link {
  width: 92px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-list .link .link-name {
  font-family: "Noto Sans JP", serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}
.link-list .link:nth-child(1) {
  background-color: #FF791B;
}
.link-list .link:nth-child(2) {
  background-color: #2AA4DB;
}
.link-list .link:nth-child(3) {
  background-color: #FF7777;
}
.link-list .link:nth-child(4) {
  background-color: #27C1B7;
}
.link-list .link:nth-child(5) {
  background-color: #DB0839;
}

.section {
  margin: 80px 0px;
  padding: 64px 0px 48px;
  font-family: "Noto Sans";
  width: 100%;
}
.section .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .section-content .head2 {
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  color: #3f508e;
  letter-spacing: 1.5;
  text-align: center;
  position: relative;
}
.section .section-content .head2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -32px;
  margin: auto 0px;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background-color: #3f508e;
}
.section .section-content .head2::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background-color: #3f508e;
}

.info-inp-wrap {
  width: 100%;
  max-width: 1140px;
  background-color: #f7f7f7;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info-inp-wrap .info-head2 {
  width: fit-content;
  font-size: 2rem;
  color: #333;
  text-align: center;
  position: relative;
}
.info-inp-wrap .info-head2::after {
  display: block;
  content: "";
  height: 30px;
  width: 4px;
  background-color: #ed2a2a;
  position: absolute;
  top: 0;
  left: -8px;
}
.info-inp-wrap .info-wrap {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info-inp-wrap .info-wrap .info-list {
  cursor: pointer;
  border-bottom: dotted 2px #333;
}
.info-inp-wrap .info-wrap .info-list .info-link {
  display: flex;
  flex-direction: column;
  color: #333;
}
.info-inp-wrap .info-wrap .info-list .info-link .info-time {
  font-size: clamp(1.2rem, 1.122rem + 0.39vw, 1.4rem);
  font-weight: 700;
}
.info-inp-wrap .info-wrap .info-list .info-link .info-ttl {
  font-size: clamp(1.2rem, 1.044rem + 0.78vw, 1.6rem);
  font-weight: 500;
}

.section.news {
  background-color: #f7f7f7;
}

.news-wrap {
  width: 100%;
  max-width: 1140px;
  margin-top: 32px;
  padding: 0px 24px;
}
.news-wrap .news-nav-wrap {
  width: 100%;
  display: flex;
  justify-content: start;
}
.news-wrap .news-nav-wrap .news-btn {
  padding: 8px 0px;
  width: 100%;
  max-width: 120px;
  min-width: 72px;
  font-size: 1.2rem;
  color: #3f508e;
  background-color: #fff;
  border-top: #3f508e solid 2px;
  border-right: #3f508e solid 2px;
  border-left: #3f508e solid 2px;
  margin-left: 4px;
  border-radius: 4px 4px 0px 0px;
  transition: all 0.2s;
}
.news-wrap .news-nav-wrap .news-btn:hover {
  text-decoration: underline;
}
.news-wrap .news-nav-wrap .news-btn:first-child {
  margin-left: 0px;
}
.news-wrap .news-nav-wrap .news-btn.active {
  background-color: #3f508e;
  color: #fff;
}
.news-wrap .news-list-wrap {
  width: 100%;
  background-color: #fff;
  padding: 32px 24px 24px;
  border-top: #3f508e solid 3px;
  border-radius: 0px 0px 16px 16px;
}
.news-wrap .news-list-wrap .news-list {
  list-style-type: none;
}
.news-wrap .news-list-wrap .news-list .news-item {
  padding: 24px 8px;
  border-bottom: #3f508e dotted 2px;
}
.news-wrap .news-list-wrap .news-list .news-item:not(:first-child) {
  margin-top: 24px;
}
.news-wrap .news-list-wrap .news-list .news-item .news-link {
  text-decoration: none;
}
.news-wrap .news-list-wrap .news-list .news-item .news-link .news-time {
  font-size: clamp(1.2rem, 1.122rem + 0.39vw, 1.4rem);
  color: #333;
  font-weight: 700;
}
.news-wrap .news-list-wrap .news-list .news-item .news-link .news-ttl {
  font-size: clamp(1.2rem, 1.044rem + 0.78vw, 1.6rem);
  color: #3f508e;
  font-weight: 500;
}
.news-wrap .news-list-wrap .news-btn-more {
  display: block;
  width: 240px;
  margin: 40px auto 0px;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #3f508e;
  border: solid 2px #3f508e;
  transition: all 0.2s;
  position: relative;
}
.news-wrap .news-list-wrap .news-btn-more:hover {
  background-color: #fff;
  border: solid 2px #3f508e;
  color: #3f508e;
  box-shadow: 8px 8px 0px 0px #3f508e;
}

.pu-wrap {
  width: 100%;
  background-color: #fff;
  padding: 32px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pu-wrap .pu-list {
  width: 100%;
  max-width: 1140px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.pu-wrap .pu-list .pu-content {
  width: 240px;
  height: 160px;
  border: solid 8px #3f508e;
  border-radius: 8px;
}
.pu-wrap .pu-list .pu-content .pu-item {
  display: block;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 428px) {
  .header {
    height: 72px;
    z-index: 999;
    background-color: #FFFFFF;
    padding: 8px 0px;
  }
  .header .header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-wrap h1 {
    width: 180px;
  }
  .header .header-wrap h1 a {
    width: 100%;
  }
  .header .header-wrap h1 a img {
    display: block;
    width: 100%;
  }
  .header .header-wrap .g-nav {
    display: none;
  }
  .menu {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 0px;
    height: 80px;
    width: 80px;
    background-color: #3f508e;
  }
  .menu span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 26px;
    height: 2px;
    background-color: #FFFFFF;
    width: 40%;
  }
  .menu span:nth-of-type(1) {
    top: 24px;
  }
  .menu span:nth-of-type(2) {
    top: 40px;
  }
  .menu span:nth-of-type(3) {
    top: 56px;
  }
  .fv {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .fv .mainvisual {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .fv .mainvisual .logo-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 320px;
    transform: translateY(-80px);
  }
  .fv .mainvisual .fv-h2-wrap {
    display: block;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fv .mainvisual .fv-h2-wrap .fv-h2 {
    width: fit-content;
    font-size: 1.8rem;
    letter-spacing: 1.04rem;
    color: white;
    font-weight: 400;
  }
  .fv .mainvisual .fv-h2-wrap .fv-h2 .fv-h2-text {
    animation-name: fv-text;
    animation-duration: 1.8s;
  }
  .fv .mainvisual .fv-h2-wrap .fv-h2:nth-child(2) {
    margin-top: 8px;
    transform: translateX(0px);
  }
  .section {
    padding: 64px 24px 48px;
  }
  .link-list {
    display: none;
  }
  .pu-wrap {
    width: 100%;
    background-color: #fff;
    padding: 32px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pu-wrap .pu-list {
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }
  .pu-wrap .pu-list .pu-content {
    width: 174px;
    height: 120px;
    border: solid 8px #3f508e;
    border-radius: 8px;
  }
  .pu-wrap .pu-list .pu-content .pu-item {
    display: block;
    height: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */